build
composer.lock
docs
vendor
coverage
.DS_Store
/.idea/
/.phpstorm.meta.php
/.php_cs.cache
/_ide_helper.php
/.phpunit.result.cache
.env
/vendor/
/node_modules/
/public/fonts
/public/mix-manifest.json
/public/css
/public/js
/public/img
/public/hot
/public/storage
